<a href="https://colab.research.google.com/github/LeeGwanHui/DACON/blob/main/Daily_Lv1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-03-08 06:40:30--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-03-08 06:40:30--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 74.125.195.139, 74.125.195.138, 74.125.195.100, ...
Connecting to drive.google.com (drive.google.com)|74.125.195.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/9u64q8m2ls8krjblef40bc9ropgpb9o8/1646721600000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-03-08 06:40:31--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/9u64q8m2ls8krjblef40bc9ropgpb9o8/1646721600000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 74.125.195.132, 2607:f8b0:400e:c09::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|74.125.195.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2022-03-08 06:40:31 (92.9 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

## 라이브러리 불러오기
---

In [23]:
# Pandas 와 Scikit-learn 라이브러리를 불러오세요
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeClassifier

## 데이터 불러오기
---

In [13]:
# train.csv 와 test.csv 를 DataFrame 클래스로 불러오세요
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

## 데이터 정보 관찰하기
---

In [14]:
# head() 를 사용해 데이터 정보를 관찰하세요
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

## 데이터 행열 갯수 관찰
---

In [18]:
# shape 를 사용해 데이터 크기를 관찰하세요
print(train.shape)
print(test.shape)

(1459, 11)
(715, 10)

## 결측치 확인
---

In [19]:
# info() 를 사용해 결측치가 있는지 확인하세요.
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB
None

## 결측치 전처리
---

In [21]:
# dropna() 를 사용해 train 데이터는 결측치를 제거하고
# fillna() 를 사용해 test 데이터 결측치는 0 으로 대체하세요.
# 그리고 결측치의 갯수를 출력하여 확안하세요.
train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

## 모델 훈련
---

In [25]:
# train 데이터의 count 피쳐를 뺀 것을 X_train 으로 할당하세요.
# train 데이터의 count 피쳐만을 가진 것을 Y_train 으로 할당하세요.
# 회귀의사결정나무를 선언하고 fit() 으로 훈련시키세요.
X_train = train.drop(['count'], axis=1)
Y_train = train['count']
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

DecisionTreeClassifier()

## 테스트 파일 예측
---

In [28]:
# predict() 을 이용해 test data 를 훈련한 모델로 예측한 data array 를 생성하세요.
pred = model.predict(test)
print(pred)

[108. 229.  23.  18.  41.   3. 109. 264. 108. 134. 271. 271. 115.  10.
 221. 106.  30.  15. 151. 227. 304. 108.  15. 112. 112. 129.  30. 311.
 118. 112.  69.  30.  69. 112. 200.  36. 119.  49. 286.  37.  17. 133.
 215.  55. 369. 221.  37.  69.  16.  80. 291.  69. 163.  64. 127. 189.
  51. 142.  30.  30. 108.  81. 291. 247. 221. 252.   9. 229. 102.  30.
 115.  41. 201.  30. 317. 348.  37. 205. 317.  22. 369. 115. 103.  17.
  74. 278.  69. 118. 137. 221. 262. 127.  76. 119.  50.  71.  37.  30.
 315. 256.  13. 304.  17.  95. 108.  41. 119.  22. 168. 134. 296. 317.
 224. 133.  30.  97. 221.  44.  85.  13. 118.  74.  38. 102.  40. 129.
  30.  18. 348.  30. 129. 119.  18. 119. 221. 133.  40. 348. 124. 205.
  51.  22. 108. 137.  68. 118. 109. 107. 133. 118. 133. 278. 262. 262.
 102.  38. 133.  18.  71. 118. 102.  17. 189. 247. 118.  18.  15. 129.
 234.   8.  95. 229.  91. 125.  95.  74. 141. 142. 263. 110. 232. 201.
 104. 164.  92. 137.  30. 271. 127.  43.  37. 229.  95.  95. 229. 317.
 234. 229. 229. 115.  17.  45.  16. 262. 142. 103. 129. 189. 219.  30.
 252.  56. 151. 161. 219. 143. 234.  95. 180.  75. 108.  16.  95.  30.
 256.  28. 207. 183. 103. 208. 366. 102.  32.  78. 229.  95. 234. 151.
 172. 227.  24. 161.  20. 136. 219.  95. 102. 206.  49.  17. 103. 324.
 315. 208. 229. 212.  34. 271.  30.  13. 310.  29. 135.  17.  51. 315.
  15. 262.  91. 271. 256.  87.  17. 200.  11. 280.  30. 134. 212.  20.
 366.  95.  13.  85. 208.  95. 200. 237.  17.  37. 115. 278.  56. 229.
 101.  37. 150.  20. 227.  20. 237. 115. 296. 154. 150. 152. 150.  30.
 143.  75. 244. 300. 316.  49. 194. 122. 124.  50.  27.  27. 227.  20.
 102. 109. 103. 324. 227.  95. 137. 134.  20. 103.  49.   5. 221.  31.
 191. 219. 217. 234.  22.  26. 262. 161. 132.  15. 103.  95. 115. 304.
 144. 143.  90.  17. 150.  86.  28.  26.  87. 132.  94. 237. 150.  48.
 150.  30.  35. 132.  16. 132.  11. 100. 300. 227. 200.  20.  52. 115.
  46.  31.  45. 134. 274. 425. 132.  78.  85. 132.  95. 262.  20. 102.
 234.  86. 105.  92. 222.  22.  20. 232.  38.  86.  14. 315.  30. 107.
 134.  61. 132.  55. 115. 150. 132.  83.  40. 112. 263. 150.  86.  94.
  13.  17.   7. 117. 173.  95. 165. 127.  95. 398. 115. 122. 138. 110.
  95. 229. 331.  35.  90. 305. 278. 138.  22.  95. 110.  87.  87.  45.
 200. 234. 293. 165. 122. 138. 115. 102. 310.  23.  86.  90. 141.  85.
  95. 112. 100. 151. 227.  93. 302. 205. 194.  86. 331. 137. 215. 173.
  17.  38. 130. 234.  95. 106.  32.  29. 150. 150. 222. 219.  75. 102.
 115. 122.  86.  37.  22. 201.  95. 232. 205. 296.  17.  91.  86.  11.
 103. 296. 205.   7. 218.  37.  86. 112. 224. 219. 205.  23.  35. 150.
 225.  86.  17. 222.  11.  94.  19.  23.  35. 155. 278. 173.  37. 117.
  21. 205.  11.  35.  95.  16.  51.  45. 222.  14.  91. 239. 262.  85.
 117. 215. 117. 103. 214.  20.  24. 117.  19. 209. 165.  37. 102. 188.
 262. 317.  17.  95.  44.  46.  95.  37.  13. 225.  86. 151. 117. 262.
 152. 150. 117. 109.  37. 103.  32.  20.  94.  21.  14.  11.  11. 227.
 161. 151.  94.  94.  35. 139.  99.  92. 229.  21. 205. 115.  14. 215.
  95.  45. 103. 278. 111. 200. 278. 227. 262. 213.   7. 107. 109.  13.
  51.  61. 225. 201.  86. 138. 110. 239.  74. 234.  86.   3.  17. 332.
 222.  94. 133.  24. 115. 102. 132. 110.  80. 117.  82. 108.  86.  97.
 213. 116. 309. 109. 262. 213.  26. 133.  87.  58. 262. 227. 165.  81.
 108.  21. 102. 138.  14.  17. 165. 108. 212. 116. 300.  86.  97. 269.
 293.  60. 208. 150.  26.  51.  17.  37.  21. 310. 110. 115. 213. 218.
 115.  21.  34.  23. 150.  35.  26. 105.  86.  86.  11. 111. 127. 103.
 262. 213.  31. 215. 165. 213.  53.  94.  35. 234.  86.  94.  87. 213.
  34.]

## submission 파일 생성
---

In [27]:
# submission.csv 를 불러오세요.
# submission df 의 count 피쳐에 예측한 결과를 덧입히세요.
# submission df 를 to_csv() 를 이용해 csv 을 생성하세요. *index=False) 
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)